<!-- https://github.com/meteorlxy/vssue-demo/blob/master/github/index.html -->

<link rel="stylesheet" href="https://unpkg.com/vssue/dist/vssue.min.css">
<div id="vssue"> </div>
<script src="https://unpkg.com/vue/dist/vue.runtime.min.js"></script>
<script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>
<script>
    new Vue({
        el: '#vssue',
        render: h => h('Vssue', {
            props: {
                // 在这里设置当前页面对应的 Issue 标题
                title: '<%= post.title %>',

                // 在这里设置你使用的平台的 OAuth App 配置
                options: {
                    owner: '<%- theme.vssue.owner %>',
                    repo: '<%- theme.vssue.repo %>',
                    clientId: '<%- theme.vssue.client_id %>',
                    clientSecret: '<%- theme.vssue.client_secret %>', // 只有在使用某些平台时需要
                },
            }
        })
    })
</script>
